:root {
  --white:           #ffffff;
  --black:           #000000;
  --emerald:         #1EBA6F;
  --electric-rose:   #D93EA1ff;
  --sans:            "Roboto", sans-serif;
}

body {
  font-family: var(--sans);
}

.section { 
    max-width: 800px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    font-size: 2em;
    text-align: center;
}

.intro {
    margin-top: 2em;
}

img { 
    width: 100%;
}